* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: #070000;
  background-color: #e8f0e5a9;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #666;
  transition: color 0.3s ease;
}

.secoes {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

.header {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.header-conteudo {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  font-size: 1.25rem;
  font-weight: 700;
  color: #5d7253;
}

.menu a {
  margin-left: 25px;
  font-size: 0.9rem;
  font-weight: 500;
  padding-bottom: 5px;
}

.artigos {
  text-align: justify;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

.apresentacao-conteudo {
  flex: 2;
  max-width: 700px;
}

.ilustracao-conteudo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ilustracao-perfil {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 10px 20px #5d7253;
}

.nome {
  font-size: 2rem;
  font-weight: 800;
  color: #b94b0b;
  margin-bottom: 0.1rem;
}

.endereco {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #585857f6;
}

.apresentacao-conteudo p {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.apresentacao {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  gap: 50px;
  padding: 30px 20px 40px;
  text-align: justify;
}

.titulo-formação {
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 700;
  color: #5d7253;
  text-align: center;
}

.educacao-card {
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 12px;
  padding: 10px; 
  margin-bottom: 10px; 
  box-shadow: 0 2px 6px #457e24;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  transition: 0.3s ease;
}

.educacao-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
.detalhes-card {
  flex-grow: 1;
  padding-right: 10px;
}

.titulo-do-curso,
.instituicao {
  grid-column: 1 / 3; /
}

.detalhes-card p {
  padding: 0; 
  margin: 0;
}

.titulo-do-curso {
  font-size: 18px; 
  font-weight: 600;
  color: #b94b0b;
  margin-bottom: 2px; 
}

.status-em-andamento {
  color: #33c03a;
  border: 1px solid #33c03a;
}

.status-concluido {
  color: #666;
  border: 1px solid #ccc;
}

.status-em-andamento,
.status-concluido {
  font-size: 14px; 
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 600;
  white-space: nowrap;
}
.instituicao {
  font-size: 14px; 
  color: #5d7253; 
  margin-bottom: 2px;
}

.nivel,
.duracao {
  font-size: 14px; 
  display: inline-block;
  margin-right: 10px; 
  color: #666;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  color: #5d7253;
  text-align: center;
  margin-bottom: 30px;
}

.secao {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}
.projetos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.projetos-card {
  background-color: #fff;
  border: 1px solid #fbfcfa;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}

.projetos-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.titulo-projeto {
  font-size: 20px;
  font-weight: 700;
  color: #b94b0b;
  margin-bottom: 8px;
  text-align: center;
}

.descricao-projeto {
  color: #666;
  margin-bottom: 20px;
  text-align: justify;
}

.tech {
  font-size: 15px;
  font-weight: 700;
  color: #8d6e63;
  margin-bottom: 10px;
}

.caixa-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.tech-tag {
  background-color: #f7f3ed;
  padding: 4px 10px;
  border-radius: 6px;
}

.resultado-projeto {
  font-style: italic;
  font-size: 0.9rem;
  color: #4caf50;
  margin-top: 30px;
  text-align: justify;
}

.link-projeto {
  text-align: right;
  font-weight: 600;
  color: #8d6e63;
  margin-top: 30px;
  display: inline-block;
}

.introducao-artigos {
  text-align: center;
  margin-bottom: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #5d7253;
}

.artigos-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.artigo-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
  border: 1px solid #d9ecd0;
}

.artigo-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.titulo-artigo {
  font-size: 1.1rem;
  font-weight: 700;
  color: #b94b0b;
  margin-bottom: 10px;
}

.data-artigo {
  font-size: 0.9rem;
  color: #666;
  font-style: italic;
  margin-bottom: 15px;
}

.resumo-artigo {
  font-size: 0.95rem;
  color: #333;
  margin-bottom: 20px;
}

.links-artigo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.link-download,
.link-leitura {
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  color: #457e24; 
}

.link-download::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
}

.link-leitura {
  color: #b94b0b;
}

.certificacoes {
  background-color: #e8f0e5a9;
  padding: 40px 0;
}

.titulo-secao {
  font-size: 28px;
  font-weight: 700;
  color: #b94b0b;
  text-align: center;
  margin-bottom: 30px;
}

.certificacoes-grid {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  
  gap: 30px;
  max-width: 1000px;
  margin: auto;
  align-items: stretch; /* Garante que todos os itens do grid tenham a mesma altura */
}

.certificado-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.titulo-certificado {
  font-size: 18px;
  font-weight: 600;
}


.certificado-container {
  display: inline-block;
  margin: 15px 0 0;
}

.certificado-miniatura {
  width: 150px;
  height: 120px;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  display: block;
}
.habilidades-secao {
  padding: 50px 20px;
  background-color: #e8f0e5a9;
}

.titulo-habilidades {
  font-size: 32px;
  font-weight: 700;
  color: #b94b0b;
  text-align: center;
  margin-bottom: 30px;
}

.habilidades {
  display: flex;
  gap: 15px;
  max-width: 750px;
  margin: auto;
  padding: 15px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.habilidades-bloco {
  flex: 1;
}

.habilidades-bloco h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.hard-skills,
.soft-skills {
  min-height: 60px;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0, 8rem;
}

.hard-skills {
  background-color: #ffffff;
  border: 1px solid #b94b0b;
  color: #b94b0b;
}

.soft-skills {
  background-color: #ffffff;
  border: 1px solid #2e5c2e;
  color: #2e5c2e;
}

.icone-skills,
.skill-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 2px;
}

.secao-contato {
  background-color: #fcf6ee;
  padding: 60px 20px;
}

.titulo-contato {
  font-size: 28px;
  font-weight: 700;
  color: #b94b0b;
  text-align: center;
  margin-bottom: 30px;
}

.card-contato {
  max-width: 900px;
  margin: auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #f9e2cd;
  display: flex;
  gap: 40px;
}

.lista-contato {
  list-style: none;
}

.icone-contato img {
  width: 20px;
  margin-right: 8px;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #d9ecd0;
  color: #457e24;
  font-size: 0.9rem;
}
