body {
  font-family: "Inter", sans-serif;
  color: #070000;
  background-color: #e8f0e5a9;
  line-height: 1.6;
}

/* Container */
.artigo-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Título */
.titulo-artigo {
  font-size: 3rem;
  font-weight: 800;
  color: #b94b0b;
  text-align: center;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

/* Autor */
.autor-artigo {
  text-align: center;
  font-size: 1.1rem;
  color: #5d7253;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

/* Subtítulos das seções */
.subtitulo-artigo-secao {
  font-size: 1.5rem;
  font-weight: 700;
  color: #5d7253;
  margin-top: 25px;
  margin-bottom: 15px;
}

/* Parágrafos */
.artigo-container .paragrafo-justificado {
  font-size: 1rem;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 38px;
  text-indent: 2em;
  line-height: 1.85;
}

/* Sumário */
.lista-sumario {
  margin-bottom: 20px;
  line-height: 1.8;
}

.lista-sumario p {
  text-align: left;
}

/* Responsivo */
@media (max-width: 768px) {
  .artigo-container {
    padding: 30px 20px;
  }

  .titulo-artigo {
    font-size: 2.2rem;
  }

  .subtitulo-artigo-secao {
    font-size: 1.35rem;
  }

  .artigo-container .paragrafo-justificado {
    font-size: 1rem;
    margin-bottom: 32px;
    text-indent: 1.5em;
    line-height: 1.9;
  }
}
