body {
  font-family: "Inter", sans-serif;
  color: #070000;

  background-color: #e6e6e6;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #666;
  transition: color 0.3s ease;
}

.secoes {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

.header {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.header-conteudo {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  font-size: 1.25rem;
  font-weight: 700;
  color: #5d7253;
}

.menu a {
  margin-left: 25px;
  font-size: 0.9rem;
  font-weight: 500;
  padding-bottom: 5px;
}

.artigo-container {
  max-width: 900px;

  margin: 80px auto 60px auto;
  padding: 40px 30px;
  background-color: #fff;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.titulo-artigo {
  font-size: 2rem;
  font-weight: 900;
  color: #b94b0b;
  text-align: center;
  margin-bottom: 1.5rem;
  line-height: 1.1;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
}

.autor-artigo {
  text-align: center;
  font-size: 1.1rem;
  color: #5d7253;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

.subtitulo-artigo-secao {
  font-size: 1.56rem;
  font-weight: 700;
  color: #5d7253;
  margin-top: 50px;
  margin-bottom: 20px;
  border-left: 5px solid #b94b0b;
  padding-left: 10px;
}

.paragrafo-justificado {
  /* Reduz o espaçamento interno do parágrafo */
  line-height: 1.6;
  text-align: justify;
  /* AUMENTO EXTREMO DA MARGEM INFERIOR PARA GARANTIR A SEPARAÇÃO */
  margin-bottom: 2rem;
  text-indent: 2em;
}

.lista-sumario {
  margin-bottom: 30px;
  line-height: 2;
  font-size: 1.05rem;
}

.lista-sumario p {
  text-align: left;
}

@media (max-width: 768px) {
  .titulo-artigo {
    font-size: 2.5rem;
  }
  .subtitulo-artigo-secao {
    font-size: 1.5rem;
  }
  .paragrafo-justificado {
    line-height: 1.7;
    margin-bottom: 1.5rem;
    text-indent: 1.5em;
  }
}
.footer {
  text-align: center;
  padding: 20px;
  background-color: #d9ecd0;
  color: #457e24;
  font-size: 0.9rem;
}
